section.about-block
    .container
        .about-block__wrap
            .about-block__content
                .about-block__item
                    h3.about-block__title.title Chi siamo
                    .about-block__text.text
                        p Di.Be.R Bevande è specializzata nella fornitura di birra e bevande di ogni genere ai locali delle zone del trevigiano, pordenonese e del bellunese.
                        p Importiamo la birra, principalmente da Germania, Austria, Inghilterra e Belgio, mantenendo uno stretto contatto con le case produttrici.
                        p Ciò ci permette di avere sempre prodotti freschi e di alta qualità, selezionati accuratamente anche in base alle esigenze del mercato.
                .about-block__item
                    h3.about-block__title.title Il magazzino
                    .about-block__text.text
                        p Di.Be.R. è un’azienda in continua espanzione e, grazie ad un impegno costante negli anni, siamo riusciti ad inaugurare il nuovo grande magazzino.
                        p Questo ci permette non solo di gestire agevolmente tutte le fasi della logistica e distribuzione, ma anche di assicurare la conservazione ottimale delle birre e delle bevande che vengono mantenute a temperatura costante. In questo modo esse conservano tutte le caratteristiche organolettiche e degustative.
            .about-block__picture
                .about-block__img
                    img(src="assets/i/home/home-services/home-services-4.jpg", alt="")
                .about-block__body
                    h3.about-block__subtitle.title La nostra storia
                    .about-block__text.text L’esperienza acquisita sul campo ci permette di offrire consulenza, assistenza e servizi tali da garantire massima qualità e tranquillità ai nostri clienti.