.craft-beers {
  margin-bottom: 4.7rem;
  padding-top: 4.4rem;

  &__wrap {
    border: 2px solid var(--accent);
    display: flex;
    @media screen and (max-width: 1200px) {
      display: block;
    }
  }
  &__content {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 8.8rem 14rem 5.4rem 4rem;
    z-index: 2;
    height: 58.5rem;
    @media screen and (max-width: 1200px) {
      // margin-bottom: 4rem;
      padding: 3rem 2rem 5.4rem 2rem;
    }
    @media screen and (max-width: 576px) {
      height: auto;
      padding-bottom: 2rem;
    }
  }
  &__title {
    margin-bottom: 1.6rem;
  }
  &__text {
    margin-bottom: auto;
    max-width: 90%;
    @media screen and (max-width: 576px) {
      margin-bottom: 3rem;
    }
  }
  &__img {
    flex: 1;
    position: relative;
    height: 58.5rem;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 100% 100%;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 100%;
      z-index: 2;
      background: linear-gradient(270deg, transparent, black);
    }
  }

  &__picture {
    position: absolute;
    left: 28.9rem;
    bottom: 0;
    z-index: -1;
    @media screen and (max-width: 576px) {
      display: none;
    }
  }
}
