.home-cards {
  margin-bottom: 7rem;
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3.4rem;
    margin: 0 -1.7rem;
    @media screen and (max-width: 576px) {
        display: block;
    }
  }
  &__card {
    position: relative;
    flex: 0 0 calc(100% / 4 - 3.4rem);
    margin: 0 1.7rem;
    border: 2px solid var(--accent);
    @media screen and (max-width: 1200px) {
      flex: 0 0 calc(100% / 2 - 3.4rem);
    }
    @media screen and (max-width: 576px) {
        margin-bottom: 3.4rem;
    }
  }
  &__img {
    position: relative;
    height: 50rem;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__body {
    position: absolute;
    left: 2.4rem;
    bottom: 2.3rem;
  }

  &__link {
    color: var(--accent);
    font-size: 1.6rem;
    cursor: pointer;
  }
  &__icon {
    position: relative;
    display: inline-block;
    top: 0.5rem;
    left: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: var(--accent);
  }
  &__arrow {
    position: absolute;
    top: 0.6rem;
    left: 0.5rem;
    width: 0.7rem;
    height: 0.7rem;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(45deg);
  }
}
