.home-intro {
  position: relative;
  height: 90.4rem;
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  &__content {
    position: relative;
    top: 33.4rem;
    left: 23.8rem;
    color: white;
    z-index: 3;
  }
  &__title {
    font-size: 3rem;
    font-weight: 700;
    line-height: normal;
  }
  &__text {
    margin-bottom: 6.4rem;
    font-size: 3rem;
    line-height: normal;
  }
  &__link {
    color: var(--accent);
    font-size: 1.6rem;
    cursor: pointer;
  }
  &__icon {
    position: relative;
    display: inline-block;
    top: 0.5rem;
    left: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: var(--accent);
  }
  &__arrow {
    position: absolute;
    top: 0.6rem;
    left: 0.5rem;
    width: 0.7rem;
    height: 0.7rem;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(45deg);
  }
}
