section.filter-drinks
    .container
        .filter-drinks__wrap
            .filter-drinks__aside
                ul.filter-drinks__list
                    li.filter-drinks__category
                        img(src="assets/i/drinks/category-1.jpg", alt="")
                        span.title Bibite
                    li.filter-drinks__category
                        img(src="assets/i/drinks/category-2.jpg", alt="")
                        span.title Acque
                    li.filter-drinks__category
                        img(src="assets/i/drinks/category-3.jpg", alt="")
                        span.title Vini
                    li.filter-drinks__category
                        img(src="assets/i/drinks/category-4.jpg", alt="")
                        span.title Grappe, distillati e liquori
            .filter-drinks__items
                .filter-drinks__item
                    .filter-drinks__img.filter-drinks__img--white
                        img(src="assets/i/drinks/drink-1.jpg", alt="")
                    h3.filter-drinks__title.title Coca Cola
                    +link("Scopri tutte le birre")
                .filter-drinks__item
                    .filter-drinks__img.filter-drinks__img--white
                        img(src="assets/i/drinks/drink-2.jpg", alt="")
                    h3.filter-drinks__title.title Pepsi
                    +link("Scopri tutte le birre")
                .filter-drinks__item
                    .filter-drinks__img.filter-drinks__img--darkblue
                        img(src="assets/i/drinks/drink-3.png", alt="")
                    h3.filter-drinks__title.title San Pellegrino
                    +link("Scopri tutte le birre")
                .filter-drinks__item
                    .filter-drinks__img.filter-drinks__img--white
                        img(src="assets/i/drinks/drink-4.png", alt="")
                    h3.filter-drinks__title.title Red Bull
                    +link("Scopri tutte le birre")
                .filter-drinks__item
                    .filter-drinks__img.filter-drinks__img--white
                        img(src="assets/i/drinks/drink-5.png", alt="")
                    h3.filter-drinks__title.title Lipton
                    +link("Scopri tutte le birre")
                .filter-drinks__item
                    .filter-drinks__img.filter-drinks__img--white
                        img(src="assets/i/drinks/drink-6.png", alt="")
                    h3.filter-drinks__title.title Levico
                    +link("Scopri tutte le birre")
                .filter-drinks__item
                    .filter-drinks__img.filter-drinks__img--green
                        img(src="assets/i/drinks/drink-7.png", alt="")
                    h3.filter-drinks__title.title Levico
                    +link("Scopri tutte le birre")