section.filter-drinks
    .container
        .filter-drinks__wrap
            .filter-drinks__aside
                ul.filter-drinks__list
                    li.filter-drinks__category
                        img(data-f="bibite" src="assets/i/drinks/category-1.jpg", alt="")
                        span.title Bibite
                    li.filter-drinks__category
                        img(data-f="acque" src="assets/i/drinks/category-2.jpg", alt="")
                        span.title Acque
                    li.filter-drinks__category
                        img(data-f="vini" src="assets/i/drinks/category-3.jpg", alt="")
                        span.title Vini
                    li.filter-drinks__category
                        img(data-f="grappe" src="assets/i/drinks/category-4.jpg", alt="")
                        span.title Grappe, distillati e liquori
            .filter-drinks__items
                .filter-drinks__item.bibite
                    .filter-drinks__img
                        img(src="assets/i/drinks/drink-1.jpg", alt="")
                    h3.filter-drinks__title.title Coca Cola
                    +link("Scopri tutte le birre")
                .filter-drinks__item.bibite
                    .filter-drinks__img
                        img(src="assets/i/drinks/drink-2.jpg", alt="")
                    h3.filter-drinks__title.title Pepsi
                    +link("Scopri tutte le birre")
                .filter-drinks__item.bibite
                    .filter-drinks__img
                        img(src="assets/i/drinks/drink-3.jpg", alt="")
                    h3.filter-drinks__title.title San Pellegrino
                    +link("Scopri tutte le birre")
                .filter-drinks__item.bibite
                    .filter-drinks__img
                        img(src="assets/i/drinks/drink-4.jpg", alt="")
                    h3.filter-drinks__title.title Red Bull
                    +link("Scopri tutte le birre")
                .filter-drinks__item.bibite
                    .filter-drinks__img
                        img(src="assets/i/drinks/drink-5.jpg", alt="")
                    h3.filter-drinks__title.title Lipton
                    +link("Scopri tutte le birre")
                .filter-drinks__item.bibite
                    .filter-drinks__img
                        img(src="assets/i/drinks/drink-6.jpg", alt="")
                    h3.filter-drinks__title.title Levico
                    +link("Scopri tutte le birre")
                .filter-drinks__item.bibite
                    .filter-drinks__img
                        img(src="assets/i/drinks/drink-7.jpg", alt="")
                    h3.filter-drinks__title.title Fuze
                    +link("Scopri tutte le birre")
                .filter-drinks__item.acque
                    .filter-drinks__img
                        img(src="assets/i/drinks/aqua-1.jpg", alt="")
                    h3.filter-drinks__title.title Levico
                    +link("Scopri tutte le birre")
                .filter-drinks__item.acque
                    .filter-drinks__img
                        img(src="assets/i/drinks/aqua-2.jpg", alt="")
                    h3.filter-drinks__title.title Recoaro
                    +link("Scopri tutte le birre")
                .filter-drinks__item.acque
                    .filter-drinks__img
                        img(src="assets/i/drinks/aqua-3.jpg", alt="")
                    h3.filter-drinks__title.title San Pellegrino
                    +link("Scopri tutte le birre")
                .filter-drinks__item.acque
                    .filter-drinks__img
                        img(src="assets/i/drinks/aqua-4.jpg", alt="")
                    h3.filter-drinks__title.title Acqua Panna
                    +link("Scopri tutte le birre")
                .filter-drinks__item.acque
                    .filter-drinks__img
                        img(src="assets/i/drinks/aqua-5.jpg", alt="")
                    h3.filter-drinks__title.title Goccia di Carnia
                    +link("Scopri tutte le birre")
                .filter-drinks__item.vini
                    .filter-drinks__img
                        img(src="assets/i/drinks/wine-1.jpg", alt="")
                    h3.filter-drinks__title.title Col Masarè
                    +link("Scopri tutte le birre")
                .filter-drinks__item.vini
                    .filter-drinks__img
                        img(src="assets/i/drinks/wine-2.jpg", alt="")
                    h3.filter-drinks__title.title Bortolomiol
                    +link("Scopri tutte le birre")
                .filter-drinks__item.vini
                    .filter-drinks__img
                        img(src="assets/i/drinks/wine-3.jpg", alt="")
                    h3.filter-drinks__title.title Cantina Rauscedo
                    +link("Scopri tutte le birre")
                .filter-drinks__item.vini
                    .filter-drinks__img
                        img(src="assets/i/drinks/wine-4.jpg", alt="")
                    h3.filter-drinks__title.title Endrizzi
                    +link("Scopri tutte le birre")
                .filter-drinks__item.vini
                    .filter-drinks__img
                        img(src="assets/i/drinks/wine-5.jpg", alt="")
                    h3.filter-drinks__title.title Terre Marciane
                    +link("Scopri tutte le birre")
                .filter-drinks__item.vini
                    .filter-drinks__img
                        img(src="assets/i/drinks/wine-6.jpg", alt="")
                    h3.filter-drinks__title.title Cantine Pavan
                    +link("Scopri tutte le birre")
                .filter-drinks__item.vini
                    .filter-drinks__img
                        img(src="assets/i/drinks/wine-7.jpg", alt="")
                    h3.filter-drinks__title.title Cantina sociale di Ponte di Piave
                    +link("Scopri tutte le birre")
                .filter-drinks__item.vini
                    .filter-drinks__img
                        img(src="assets/i/drinks/wine-8.jpg", alt="")
                    h3.filter-drinks__title.title Azienda Agricola Tomasella
                    +link("Scopri tutte le birre")
                .filter-drinks__item.grappe
                    .filter-drinks__img
                        img(src="assets/i/drinks/other-1.jpg", alt="")
                    h3.filter-drinks__title.title Distilleria De Negri
                    +link("Scopri tutte le birre")
                .filter-drinks__item.grappe
                    .filter-drinks__img
                        img(src="assets/i/drinks/other-2.jpg", alt="")
                    h3.filter-drinks__title.title Distilleria Marzadro
                    +link("Scopri tutte le birre")
                .filter-drinks__item.grappe
                    .filter-drinks__img
                        img(src="assets/i/drinks/other-3.jpg", alt="")
                    h3.filter-drinks__title.title Aperol
                    +link("Scopri tutte le birre")
                .filter-drinks__item.grappe
                    .filter-drinks__img
                        img(src="assets/i/drinks/other-4.jpg", alt="")
                    h3.filter-drinks__title.title Campari
                    +link("Scopri tutte le birre")
                .filter-drinks__item.grappe
                    .filter-drinks__img
                        img(src="assets/i/drinks/other-5.jpg", alt="")
                    h3.filter-drinks__title.title Montenegro
                    +link("Scopri tutte le birre")
                .filter-drinks__item.grappe
                    .filter-drinks__img
                        img(src="assets/i/drinks/other-6.jpg", alt="")
                    h3.filter-drinks__title.title Martini
                    +link("Scopri tutte le birre")
                .filter-drinks__item.grappe
                    .filter-drinks__img
                        img(src="assets/i/drinks/other-7.jpg", alt="")
                    h3.filter-drinks__title.title Grey Goose
                    +link("Scopri tutte le birre")
                .filter-drinks__item.grappe
                    .filter-drinks__img
                        img(src="assets/i/drinks/other-8.jpg", alt="")
                    h3.filter-drinks__title.title Belvedere
                    +link("Scopri tutte le birre")
                .filter-drinks__item.grappe
                    .filter-drinks__img
                        img(src="assets/i/drinks/other-9.jpg", alt="")
                    h3.filter-drinks__title.title Ginmare
                    +link("Scopri tutte le birre")
                .filter-drinks__item.grappe
                    .filter-drinks__img
                        img(src="assets/i/drinks/other-10.jpg", alt="")
                    h3.filter-drinks__title.title Jagermeister
                    +link("Scopri tutte le birre")