section.company 
    .container
        .company__wrap
            .company__logo
                img(src="assets/i/single-page/company-logo.png", alt="")
            .company__content
                .company__title Paulaner: la pi첫 famosa birra tedesca
                .company__text 
                    | Birreria storica di Monaco di Baviera. Nel 1634 l'ordine dei frati di San Francesco da Paola comincia la produzione di questa birra rispettando l'editto della purezza del 1516. Generazioni di Birrai hanno realizzato con passione e competenza un prodotto che oggi viene venduto in 70 Paesi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, corrupti. lorem10
                    span.company__after www.paulaner.it
                ul.company__list
                    li
                        +b-link("Paulaner hefe-weissbier naturtr체b")
                    li
                        +b-link("Paulaner original m체nchner lager")
                    li
                        +b-link("Paulaner st. thomas")
                    li
                        +b-link("Paulaner oktoberfest bier")
                    li
                        +b-link("Paulaner salvator ")
                    li
                        +b-link("Paulaner original m체nchner urtyp")