footer.footer-bottom
    .container
        .footer-bottom__wrap
            .footer-bottom__copyright
                p Rasera Gianni D.I. – Partita Iva: 03083120265.
                p Copyright (C) 2020. Tutti i diritti riservati. #[a(href="#") Privacy and Cookie policy.]
            .footer-bottom__text Diber Bevandel ha<br> scelto Altuofianco
            .footer-bottom__logo
                include ../blocks/icons/logo-footer
