.footer-top 
    .footer-top__wrap
        .footer-top__contacts
            h2.footer-top__title.title Contatti
            .footer-top__row
                .footer-top__text Via Trentino 22, 31029 - Vittorio Veneto (TV) (Zona Industriale S. Giacomo di Veglia)
                .footer-top__socials
                    a(href="#") 
                        include ../blocks/icons/icon-fb
                    a(href="#") 
                        include ../blocks/icons/icon-in
            .footer-top__row
                .footer-top__email Email.  
                    a(href="mailto:diber@diberbevande.it", target="_blank") diber@diberbevande.it
                .footer-top__tel Tel. 
                    a(href="tel:390438941681", target="_blank") +39 (0) 438 941681
            .footer-top__row
                .footer-top__hours Orario di apertura dal lunedì al venerdì:<br> 08.00 - 12.00 e 13.00 - 17.30 
                .foooter-top__hour Sabato:<br> 08.30 - 12.00
        .footer-top__logos
            h2.footer-top__title.title Alcune delle nostre birre speciali
            .footer-top__items
                .footer-top__item
                    img(src="assets/i/footer-top/footer-top-1.png", alt="")
                .footer-top__item
                    img(src="assets/i/footer-top/footer-top-2.png", alt="")
                .footer-top__item
                    img(src="assets/i/footer-top/footer-top-3.png", alt="")