header.header
    .container
        .header__wrap
            nav.header__menu
                include menu
            .header__logo
                a(href="/") 
                    img(src="assets/i/header-logo.png", alt="logo")
            .header__social
                a(href="#")
                    include ../blocks/icons/icon-fb
                a(href="#") 
                    include ../blocks/icons/icon-in
            include sandwich
                        