.menu
    .menu__body#js-main-menu
        ul.menu__list
            li
                a.menu__link(href="#") Home
            li
                a.menu__link(href="#") Le nostre birre
            li
                a.menu__link(href="#") Altre bevande
            li
                a.menu__link(href="#") Servizi
            li
                a.menu__link(href="#") Chi siamo
            li
                a.menu__link(href="#") Contatti