.menu
    .menu__body#js-main-menu
        ul.menu__list
            li
                a.menu__link(href="/") Home
            li
                a.menu__link(href="/our-beer.html") Le nostre birre
            li
                a.menu__link(href="/drinks.html") Altre bevande
            li
                a.menu__link(href="/services.html") Servizi
            li
                a.menu__link(href="/about.html") Chi siamo
            li
                a.menu__link(href="/contacts.html") Contatti