.modal-content#js-modal-content
    .modal-content__body
        .modal-content__logo
            img(src="assets/i/header-logo.png" alt="")
        .modal-content__wrap
            span Sei maggiornenne?
            .modal-content__group
                button.modal-content__btn#js-btn-yes Si
                button.modal-content__btn#js-btn-no No
                .modal-content__privacy
                    input#checkbox.form__checkbox(type='checkbox')
                    label(for='checkbox') Ricordami