extends template

block css
	link(rel="stylesheet" type="text/css" href="assets/libs/leaflet/leaflet.css")
	link(rel="stylesheet" type="text/css" href="assets/css/my.css")

block title
	title Main

block content
	include ../includes/mixins
	include ../globals/header
	include ../blocks/our-beer/beers

	include ../globals/main-footer
	include ../globals/footer-bottom

block scripts
	script(src="assets/libs/leaflet/leaflet.js")
	script(src="assets/js/dist/webpack.js")
