section.craft-beers
    .container
        .craft-beers__wrap
            .craft-beers__content 
                h2.craft-beers__title.title Le migliori birre artigianali per la tua attività.
                .craft-beers__text.text Da oltre 40 anni selezioniamo direttamente le migliori birre artigianali italiane ed estere (Germania, Austria, Inghilterra e Belgio). I nostri beer sommelier non solo individuano i migliori birrifici italiani e stranieri, ma sono anche in grado di consigliarti e guidarti nella scelta delle migliori birre per il tuo pubblico. Siamo inoltre in grado di garantire l’esclusività territoriale delle birre speciali più pregiate.

                +link("Vedi tutte le nostre birre")
                .craft-beers__picture
                    img(src="assets/i/home/craft-beers/craft-1.jpg", alt="")
            .craft-beers__img
                img(src="assets/i/home/craft-beers/craft-2.jpg" alt="")
            