.home-intro
    img.home-intro__img(src="assets/i/home/home-intro/intro-bg.jpg" alt="")
    .home-intro__content
        h1.home-intro__title DI.BE.R Bevande.
        .home-intro__text Le migliori birre e bevande per ristoranti, pub ed eventi.
        a.home-intro__link Scopri le nostre birre
            .home-intro__icon
                .home-intro__arrow

