section.home-services
    .container
        h2.home-services__title.title I nostri servizi
        .home-services__wrap
            .home-services__item
                .home-services__img
                    img(src="assets/i/home/home-services/home-services-1.jpg", alt="")
                .home-services__body
                    h3.home-services__subtitle.title Servizio specializzato
                    .home-services__text.text I nostri sommelier sono in grado di suggerirti le migliori birre speciali per la tua attività, valorizzando le tue caratteristiche e peculiarità.
            .home-services__item
                .home-services__img
                    img(src="assets/i/home/home-services/home-services-2.jpg", alt="")
                .home-services__body
                    h3.home-services__subtitle.title Allestimento locali
                    .home-services__text.text Di.Be.R. bevande può fornirti  spine in comodato d’uso, frigo espositori e accessori vari per l’arredamento e la lavorazione.
        .home-services__wrap
            .home-services__item
                .home-services__img
                    img(src="assets/i/home/home-services/home-services-3.jpg", alt="")
                .home-services__body
                    h3.home-services__subtitle.title Fiere ed eventi
                    .home-services__text.text Forniamo postazioni mobili per manifestazioni, sagre, ed eventi con impianti di spillatura, tavoli, ombrelloni, chioschi ed eventuale rimorchio / truck allestito.
            .home-services__item
                .home-services__img
                    img(src="assets/i/home/home-services/home-services-4.jpg", alt="")
                .home-services__body
                    h3.home-services__subtitle.title E molto altro ancora
                    .home-services__text.text Di.Be.R. bevande può fornirti  spine in comodato d’uso, frigo espositori e accessori vari per l’arredamento e la lavorazione.