section.home-cards
    .container
        .home-cards__wrap
            .home-cards__card
                .home-cards__img
                    img(src="assets/i/home/home-cards/home-card-1.jpg", alt="")
                .home-cards__body
                    h3.home-cards__label.title Bibite
                    a.home-cards__link Vai al catalogo
                        .craft-beers__icon
                            .craft-beers__arrow
            .home-cards__card
                .home-cards__img
                    img(src="assets/i/home/home-cards/home-card-2.jpg", alt="")
                .home-cards__body
                    h3.home-cards__label.title Acque
                    a.home-cards__link Vai al catalogo
                        .craft-beers__icon
                            .craft-beers__arrow
            .home-cards__card
                .home-cards__img
                    img(src="assets/i/home/home-cards/home-card-3.jpg", alt="")
                .home-cards__body                
                    h3.home-cards__label.title Vini
                    a.home-cards__link Vai al catalogo
                        .craft-beers__icon
                            .craft-beers__arrow
            .home-cards__card
                .home-cards__img
                    img(src="assets/i/home/home-cards/home-card-4.jpg", alt="")
                .home-cards__body                
                    h3.home-cards__label.title Grappe, distillati e liquori
                    a.home-cards__link Vai al catalogo
                        .craft-beers__icon
                            .craft-beers__arrow