section.beers
    .container
        .beers__wrap
            .beers__item
                .beers__img
                    img(src="assets/i/our-beer/beers/beers-1.png", alt="")
                h3.beers__title.title Paulaner
                +link("Scopri tutte le birre")
            .beers__item
                .beers__img.beers__img--white
                    img(src="assets/i/our-beer/beers/beers-2.jpg", alt="")
                h3.beers__title.title Bitburger
                +link("Scopri tutte le birre")
            .beers__item
                .beers__img
                    img(src="assets/i/our-beer/beers/beers-3.png", alt="")
                h3.beers__title.title Villacher
                +link("Scopri tutte le birre")
            .beers__item
                .beers__img.beers__img--blue
                    img(src="assets/i/our-beer/beers/beers-4.jpg", alt="")
                h3.beers__title.title Hirter
                +link("Scopri tutte le birre")
            .beers__item
                .beers__img.beers__img--white
                    img(src="assets/i/our-beer/beers/beers-5.jpg", alt="")
                h3.beers__title.title Schleppe
                +link("Scopri tutte le birre")
            .beers__item
                .beers__img
                    img(src="", alt="")
                h3.beers__title.title Kostritzer
                +link("Scopri tutte le birre")
            .beers__item
                .beers__img
                    img(src="assets/i/our-beer/beers/beers-7.png", alt="")
                h3.beers__title.title Hacker-Pschorr
                +link("Scopri tutte le birre")
            .beers__item
                .beers__img
                    img(src="assets/i/our-beer/beers/beers-8.png", alt="")
                h3.beers__title.title AuerBrau
                +link("Scopri tutte le birre")
            .beers__item
                .beers__img.beers__img--white
                    img(src="assets/i/our-beer/beers/beers-9.jpg", alt="")
                h3.beers__title.title Benediktiner Weissbier
                +link("Scopri tutte le birre")
            .beers__item
                .beers__img
                    img(src="assets/i/our-beer/beers/beers-10.jpg", alt="")
                h3.beers__title.title Licher
                +link("Scopri tutte le birre")
            .beers__item
                .beers__img.beers__img--white
                    img(src="assets/i/our-beer/beers/beers-11.jpg", alt="")
                h3.beers__title.title Forst
                +link("Scopri tutte le birre")
            .beers__item
                .beers__img
                    img(src="assets/i/our-beer/beers/beers-12.png", alt="")
                h3.beers__title.title Warsteiner
                +link("Scopri tutte le birre")
            .beers__item
                .beers__img.beers__img--white
                    img(src="assets/i/our-beer/beers/beers-13.jpg", alt="")
                h3.beers__title.title Chiemgauer Brauhaus
                +link("Scopri tutte le birre")
            .beers__item
                .beers__img
                    img(src="assets/i/our-beer/beers/beers-14.png", alt="")
                h3.beers__title.title St. Feuillien 
                +link("Scopri tutte le birre")
            .beers__item
                .beers__img.beers__img--white
                    img(src="assets/i/our-beer/beers/beers-15.jpg", alt="")
                h3.beers__title.title Eichbaum Brauerei
                +link("Scopri tutte le birre")
            .beers__item
                .beers__img.beers__img--white
                    img(src="assets/i/our-beer/beers/beers-16.jpg", alt="")
                h3.beers__title.title Palm
                +link("Scopri tutte le birre")
            .beers__item
                .beers__img.beers__img--white
                    img(src="assets/i/our-beer/beers/beers-17.jpg", alt="")
                h3.beers__title.title Steen Brugge
                +link("Scopri tutte le birre")
            .beers__item
                .beers__img.beers__img--white
                    img(src="assets/i/our-beer/beers/beers-18.jpg", alt="")
                h3.beers__title.title Rodenbach
                +link("Scopri tutte le birre")
            .beers__item
                .beers__img.beers__img--white
                    img(src="assets/i/our-beer/beers/beers-19.jpg", alt="")
                h3.beers__title.title Green Flash
                +link("Scopri tutte le birre")
            .beers__item
                .beers__img
                    img(src="assets/i/our-beer/beers/beers-20.png", alt="")
                h3.beers__title.title Malheur 
                +link("Scopri tutte le birre")