section.filter-beer
    .container
        .filter-beer__wrap
            .filter-beer__aside
                ul.filter-beer__list
                    li.filter-beer__category
                        img(data-f="austria" src="assets/i/our-beer/flag-1.png", alt="")
                        span.title Austria
                    li.filter-beer__category
                        img(data-f="bibite" src="assets/i/our-beer/flag-2.png", alt="")
                        span.title Germany
                    li.filter-beer__category
                        img(data-f="bibite" src="assets/i/our-beer/flag-3.png", alt="")
                        span.title Belgium
                    li.filter-beer__category
                        img(data-f="bibite" src="assets/i/our-beer/flag-4.png", alt="")
                        span.title Italy
                    li.filter-beer__category
                        img(data-f="bibite" src="assets/i/our-beer/flag-5.png", alt="")
                        span.title UK
                    li.filter-beer__category
                        img(data-f="bibite" src="assets/i/our-beer/flag-6.png", alt="")
                        span.title Ireland
            .filter-beer__items
                .filter-beer__item.austria
                    .filter-beer__img
                        img(src="assets/i/our-beer/beer-1.jpg", alt="")
                    h3.filter-beer__title.title Paulaner
                    +link("Scopri tutte le birre")
                .filter-beer__item.austria
                    .filter-beer__img
                        img(src="assets/i/our-beer/beer-2.jpg", alt="")
                    h3.filter-beer__title.title Bitburger
                    +link("Scopri tutte le birre")
                .filter-beer__item.germany
                    .filter-beer__img
                        img(src="assets/i/our-beer/beer-3.jpg", alt="")
                    h3.filter-beer__title.title Villacher
                    +link("Scopri tutte le birre")
                .filter-beer__item.belgium
                    .filter-beer__img
                        img(src="assets/i/our-beer/beer-4.jpg", alt="")
                    h3.filter-beer__title.title Hirter
                    +link("Scopri tutte le birre")
                .filter-beer__item.italy
                    .filter-beer__img
                        img(src="assets/i/our-beer/beer-5.jpg", alt="")
                    h3.filter-beer__title.title Schleppe
                    +link("Scopri tutte le birre")
                .filter-beer__item.germany
                    .filter-beer__img
                        img(src="assets/i/our-beer/beer-6.jpg", alt="")
                    h3.filter-beer__title.title Hacker-Pschorr
                    +link("Scopri tutte le birre")
                .filter-beer__item.belgium
                    .filter-beer__img
                        img(src="assets/i/our-beer/beer-7.jpg", alt="")
                    h3.filter-beer__title.title AuerBrau
                    +link("Scopri tutte le birre")
                .filter-beer__item.italy
                    .filter-beer__img
                        img(src="assets/i/our-beer/beer-8.jpg", alt="")
                    h3.filter-beer__title.title Benediktiner Weissbier
                    +link("Scopri tutte le birre")
                .filter-beer__item.belgium
                    .filter-beer__img
                        img(src="assets/i/our-beer/beer-9.jpg", alt="")
                    h3.filter-beer__title.title Licher
                    +link("Scopri tutte le birre")
                .filter-beer__item.uk
                    .filter-beer__img
                        img(src="assets/i/our-beer/beer-10.jpg", alt="")
                    h3.filter-beer__title.title Forst
                    +link("Scopri tutte le birre")
                .filter-beer__item.italy
                    .filter-beer__img
                        img(src="assets/i/our-beer/beer-11.jpg", alt="")
                    h3.filter-beer__title.title Warsteiner
                    +link("Scopri tutte le birre")
                .filter-beer__item.uk
                    .filter-beer__img
                        img(src="assets/i/our-beer/beer-12.jpg", alt="")
                    h3.filter-beer__title.title Chiemgauer Brauhaus
                    +link("Scopri tutte le birre")
                .filter-beer__item.ireland
                    .filter-beer__img
                        img(src="assets/i/our-beer/beer-13.jpg", alt="")
                    h3.filter-beer__title.title St. Feuillien
                    +link("Scopri tutte le birre")
                .filter-beer__item.germany
                    .filter-beer__img
                        img(src="assets/i/our-beer/beer-14.jpg", alt="")
                    h3.filter-beer__title.title Eichbaum Brauerei
                    +link("Scopri tutte le birre")
                .filter-beer__item.ireland
                    .filter-beer__img
                        img(src="assets/i/our-beer/beer-15.jpg", alt="")
                    h3.filter-beer__title.title Palm
                    +link("Scopri tutte le birre")
                .filter-beer__item.belgium
                    .filter-beer__img
                        img(src="assets/i/our-beer/beer-16.jpg", alt="")
                    h3.filter-beer__title.title Steen Brugge
                    +link("Scopri tutte le birre")
                .filter-beer__item.uk
                    .filter-beer__img
                        img(src="assets/i/our-beer/beer-17.jpg", alt="")
                    h3.filter-beer__title.title Rodenbach
                    +link("Scopri tutte le birre")
                .filter-beer__item.uk
                    .filter-beer__img
                        img(src="assets/i/our-beer/beer-18.jpg", alt="")
                    h3.filter-beer__title.title Green Flash
                    +link("Scopri tutte le birre")
                .filter-beer__item.germany
                    .filter-beer__img
                        img(src="assets/i/our-beer/beer-19.jpg", alt="")
                    h3.filter-beer__title.title Malheur
                    +link("Scopri tutte le birre")