.services-cards {
  margin-bottom: 3.3rem;
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3.6rem;
    margin: 0 -1.9rem;
    @media screen and (max-width: 768px) {
        display: block;
    }
  }
  &__item {
    margin: 0 1.9rem;
    flex: 0 0 calc(50% - 3.8rem);
    border: 2px solid var(--accent);
    @media screen and (max-width: 768px) {
        margin-bottom: 3rem;
    }
  }
  &__body {
    padding: 3.3rem 3.5rem 1.8rem 3.6rem;
    @media screen and (max-width: 992px) {
      padding: 2.3rem 2.5rem 2.2rem 2.6rem;
    }
  }
  &__title {
    margin-bottom: 2.2rem;
    font-weight: 400;
  }
}
