section.services-cards
    .container
        .services-cards__wrap
            .services-cards__item
                .services-cards__img
                    img(src="assets/i/services/services-cards/services-cards-1.jpg" alt="")
                .services-cards__body
                    h3.services-cards__title.title Servizio specializzato
                    .services-cards__text.text
                        p Che tu gestisca un pub, un ristorante oppure un bar, noi abbiamo la birra adatta a te ed alla tua clientela. 
                        p Il nostro personale specializzato saprà consigliarti i prodotti che potranno #[strong valorizzare al meglio il tuo locale.]
                        p Organizziamo periodicamente corsi di #[strong formazione] in azienda, dedicati al gestore ed i suoi dipendenti, e serate di degustazione aperte al pubblico.
                        p Per quanto riguarda la logistica, #[strong le nostre consegne sono veloci e precise, le manutenzioni e le installazioni] sono effettuate da tecnici interni competenti e sempre a disposizione.
            .services-cards__item
                .services-cards__img
                    img(src="assets/i/services/services-cards/services-cards-2.jpg" alt="")
                .services-cards__body
                    h3.services-cards__title.title Allestimento locali
                    .services-cards__text.text
                        p Di.Be.R. bevande mette a disposizione del gestore le attrezzature adatte alla vendita dei propri prodotti selezionati.
                        p Impianti di #[strong spillatura] su misura in comodato d’uso, #[strong frigo vetrine] per birre e vini, ombrelloni, #[strong materiale pubblicitario] dedicato per dare la giusta visibilità ai prodotti e molto altro ancora.
            .services-cards__item
                .services-cards__img
                    img(src="assets/i/services/services-cards/services-cards-3.jpg" alt="")
                .services-cards__body
                    h3.services-cards__title.title Fiere ed eventi
                    .services-cards__text.text
                        p Con le nostre attrezzature possiamo accontentare la clientela per #[strong ogni tipo di evento]: sagre paesane, feste della birra, fiere o eventi privati. 
                        p Forniamo in comodato d’uso impianti di #[strong spillatura, tavoli e panche, ombrelloni e chioschi.] 
                        p A disposizione abbiamo anche dei #[strong rimorchi/truck] allestiti per eventi #[strong street food].
            .services-cards__item
                .services-cards__img
                    img(src="assets/i/services/services-cards/services-cards-4.jpg" alt="")
                .services-cards__body
                    h3.services-cards__title.title E molto altro ancora
                    .services-cards__text.text
                        p L’esperienza che abbiamo maturato in questi anni ci ha aiutati a capire quali sono realmente i prodotti di qualità sul quale vale la pena investire, ed è per questo che #[strong selezioniamo accuratamente i nostri partner]. 
                        p Vogliamo che i gestori dei locali siano contenti dei prodotti che acquistano e che credano, come lo crediamo noi, in un progetto. I nostri agenti e #[strong sommelier] sono formati per saper consigliare e supportare il gestore, personalizzando il pacchetto con prodotti ad-hoc.    