.footer-top {
  padding: 7.9rem 6.7rem 5.4rem 4.9rem;
  @media screen and (max-width: 768px) {
    padding: 5rem 5rem 4rem 4rem;
  }
  &__wrap {
    display: flex;
    gap: 6.3rem;
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
  &__contacts {
    flex: 1;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    @media screen and (max-width: 768px) {
      margin-bottom: 4rem;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    gap: 3.6rem;
    margin-bottom: 3.7rem;
    &:last-child {
      margin-bottom: 0;
    }
    @media screen and (max-width: 576px) {
      display: block;
    }
  }
  &__text {
    flex: 0 0 60%;
    @media screen and (max-width: 576px) {
      margin-bottom: 2rem;
    }
  }
  &__socials {
    flex: 0 0 40%;
    display: flex;
    gap: 3rem;
    a {
      fill: white;
    }
  }
  &__email,
  &__tel {
    a {
      color: var(--accent);
      cursor: pointer;
    }
  }
  &__email {
    flex: 0 0 60%;
  }
  &__tel {
    flex: 0 0 40%;
  }
  &__hours {
    flex: 0 0 60%;
  }
  &__hour {
    flex: 0 0 40%;
  }
  &__logos {
    flex: 1;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem 1rem;
    justify-content: space-between;
  }
  &__item {
  }
  &__title {
    margin-bottom: 5.6rem;
    font-weight: 400;
    color: var(--accent);
  }
}
